# Ignore compiled files
target/

# Ignore Cargo.lock file
Cargo.lock

# Ignore backups and swap files
*.bak
*.swp

# Ignore IDE/editor specific files
.idea/
.vscode/
*.iml

# Ignore MacOS specific files
.DS_Store

# Ignore Windows specific files
Thumbs.db